body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    position: relative;
    animation: gradientAnimation 60s ease infinite;
    background-size: 400% 400%;
}

/* Define keyframes for the gradient animation with light blue shades */
@keyframes gradientAnimation {
    0% {
        background: linear-gradient(45deg, #add8e6, #87cefa, #b0e0e6);
    }
    33% {
        background: linear-gradient(45deg, #87cefa, #b0e0e6, #add8e6);
    }
    66% {
        background: linear-gradient(45deg, #b0e0e6, #add8e6, #87cefa);
    }
    100% {
        background: linear-gradient(45deg, #add8e6, #87cefa, #b0e0e6);
    }
}

.nav-container {
    background-color: rgba(23, 24, 23, 0.9);
    color: white;
    padding: 5px;
    text-align: center;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

h1 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h5 {
    color: #fff;
    margin-bottom: 40px;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.weather-card {
    border: 2px solid #0072ff;
    width: 400px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.data {
    font-size: 2em;
    margin-top: 10px;
}

.clear-sky {
    background: linear-gradient(to bottom, #add8e6, #87cefa);
}

.few-clouds {
    background: linear-gradient(to bottom, #d7d2cc, #304352);
}

.scattered-clouds, .broken-clouds {
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}

.shower-rain, .rain {
    background: linear-gradient(to bottom, #00c6ff, #0072ff);
}

.thunderstorm {
    background: linear-gradient(to bottom, #4b79a1, #283e51);
}

.snow {
    background: linear-gradient(to bottom, #e6e9f0, #eef1f5);
}

.mist {
    background: linear-gradient(to bottom, #3e5151, #decba4);
}

.weather-card h2,
.weather-card .data {
    font-size: 1.2em;
}

footer {
    background-color: rgba(23, 24, 23, 0.9);
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.footer-container h5 {
    display: inline;
}
